@model PROIECT.Models.ApplicationUser


<div style="font-family:Satisfy, cursive;">
@using (Html.BeginForm(actionName: "Edit", controllerName: "Admins",
       method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{

    <i class="bi bi-person"></i>
    @Html.Label("UserName", "Nume utilizator", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.UserName)

    <br />

    <i class="bi bi-envelope"></i>
    @Html.Label("Email", "Email utilizator", new { @class = "" })

    <br />

    @Html.EditorFor(m => m.Email)

    <br />

    <i class="bi bi-card-list"></i>
    <label>Selectati rolul</label>

    @Html.DropDownList("newRole", new SelectList(Model.AllRoles, "Value", "Text", ViewBag.UserRole), null, new { @class = "form-control" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Editare user</button>
}
</div>

